<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        div {
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<div>
    <h3>设置的数据</h3>
    <p th:text="${result}"></p>
    <p th:text="${session.seResult}"></p>
    <p th:text="${application.seResult}"></p>
</div>
</body>
</html>